version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "julienrbrt"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "julienrbrt"
  - package-ecosystem: "npm"
    directory: "/web"
    schedule:
      interval: "daily"
    assignees:
      - "julienrbrt"
