---
services:
  jwt-init:
    image: alpine:3.22.0
    volumes:
      - jwttoken:/jwt
    healthcheck:
      test: [CMD, test, -f, /jwt/jwt.hex]
      interval: 5s
      timeout: 5s
      retries: 3
    command: >
      /bin/sh -c "mkdir -p /jwt &&
      if [ ! -f /jwt/jwt.hex ]; then
        apk add --no-cache openssl &&
        openssl rand -hex 32 | tr -d '\n' > /jwt/jwt.hex;
      fi"

  ev-reth:
    image: ghcr.io/evstack/ev-reth:v0.1.0
    depends_on:
      jwt-init:
        condition: service_completed_successfully
    env_file: .env
    network_mode: host
    restart: always
    volumes:
      - ./ev-reth.genesis.json:/root/genesis.json:ro
      - jwttoken:/root/jwt:ro
      - ev-reth-data:/root/reth
    entrypoint: /bin/sh -c
    command:
      - |
          ev-reth node \
          --ev-reth.enable \
          --engine.persistence-threshold 0 \
          --engine.memory-block-buffer-target 0 \
          --engine.always-process-payload-attributes-on-canonical-head \
          --chain /root/genesis.json \
          --metrics 0.0.0.0:${EV_RETH_PROMETHEUS_PORT} \
          --log.file.directory /root/logs \
          --authrpc.addr 0.0.0.0 \
          --authrpc.port ${EV_RETH_ENGINE_PORT} \
          --authrpc.jwtsecret /root/jwt/jwt.hex \
          --http --http.addr 0.0.0.0 --http.port ${EV_RETH_RPC_PORT} \
          --http.api "eth,net,web3,txpool" \
          --ws --ws.addr 0.0.0.0 --ws.port ${EV_RETH_WS_PORT} \
          --disable-discovery \
          --trusted-peers enode://e3e0025a64440eff4879b216766550d7237291cb94b79bb641b1e25933b08c9a3aada6583e25b320aebe84b643b85e14be934a8725eb6aacb74d6f65abfbeb74@fullnode-1-eden-testnet.binarybuilders.services:30313,enode://477544b9c4bc4136b9d25759b38be971c29dcf669105e02e8630f1e0407f58dc740137d3f21d02451d5f7b08bbbf31909cbd876af99818a34e64892e73498906@fullnode-2-eden-testnet.binarybuilders.services:30313 \
          --txpool.pending-max-count 200000 \
          --txpool.pending-max-size 200 \
          --txpool.queued-max-count 200000 \
          --txpool.queued-max-size 200 \
          --txpool.max-account-slots 2048 \
          --txpool.max-new-txns 2048 \
          --txpool.additional-validation-tasks 16 \
          --datadir /root/reth
    healthcheck:
      test: [CMD, curl, -X, POST,
            -H, "Content-Type: application/json",
            --data, '{"jsonrpc":"2.0","method":"web3_clientVersion","params":[],"id":1}',
            "http://localhost:${EV_RETH_RPC_PORT}"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 30s

  ev-node:
    image: ghcr.io/evstack/ev-node-evm-single:v1.0.0-beta.9
    env_file: .env
    network_mode: host
    restart: always
    depends_on:
      ev-reth:
        condition: service_started
    volumes:
      - ev-node-data:/root/.evm-single
      - ./ev-node.genesis.json:/volumes/sequencer_export/genesis.json:ro
      - ./ev-reth.genesis.json:/root/genesis.json:ro
      - jwttoken:/root/jwt:ro
      - ./entrypoint.fullnode.sh:/usr/bin/entrypoint.sh
    command:
      - start
      - --evnode.rpc.address=0.0.0.0:${EV_NODE_RPC_PORT}
      - --evnode.instrumentation.prometheus
      - --evnode.instrumentation.prometheus_listen_addr=:${EV_NODE_PROMETHEUS_PORT}
      - --evnode.log.level=debug
    environment:
      - DA_HEADER_NAMESPACE=${DA_HEADER_NAMESPACE}
      - DA_DATA_NAMESPACE=${DA_DATA_NAMESPACE}
      - EVM_ENGINE_URL=http://${EV_RETH_ADDRESS}:${EV_RETH_ENGINE_PORT}
      - EVM_ETH_URL=http://${EV_RETH_ADDRESS}:${EV_RETH_RPC_PORT}
      - EVM_JWT_SECRET_FILE=/root/jwt/jwt.hex
    healthcheck:
      test: [CMD, curl, "localhost:${EV_NODE_RPC_PORT}/health/live"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 30s

volumes:
  jwttoken:
    driver: local
  ev-node-data:
    driver: local
  ev-reth-data:
    driver: local