name: Build and Test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: Go CI
    runs-on: ubuntu-latest
    steps:
      - name: Check out source
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          check-latest: true
      - name: Build
        run: |
          go build .
      - name: Tests
        run: |
          go test -v ./...
